<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trip Advisor</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="~/Scripts/script.js"></script>

</head>
<body>
    @*PartialHeader*@

    @{
        string nameApp = "Trip&Go";

        string emailPattern = "[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{1,3}$";

    }

    @*logo and button: review, register, login*@
    <div class="container-sm">
        <div class="col-md-1">
            <div class="row">
                <a href="/Home"><img class="img-responsive" src="~/Content/Images/logoApp.png" alt="logo" /></a>
            </div>
            <div class="row">
                <a href="/Home" id="nameApp">@nameApp</a>
            </div>
        </div>
        <div class="col-md-4">
            <h1>Let's go travel</h1>
        </div>
    </div>

    @*Navbar*@
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="100" id="navMyStyle">
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="navList">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Tour
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Tour/Tour" target="_blank">Europe</a></li>
                        <li><a href="/Tour/Tour" target="_blank">Asia</a></li>
                        <li><a href="/Tour/Tour" target="_blank">North America</a></li>
                        <li><a href="/Tour/Tour" target="_blank">South America</a></li>
                        <li><a href="/Tour/Tour" target="_blank">Africa</a></li>
                        <li><a href="/Tour/Tour" target="_blank">Australia / Australasia / Oceania</a></li>
                        <li class="divider"></li>
                        <li><a href="/Tour/Tour" target="_blank">All</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Destination
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Destination/Destination" target="_blank">Europe</a></li>
                        <li><a href="/Destination/Destination" target="_blank">Asia</a></li>
                        <li><a href="/Destination/Destination" target="_blank">North America</a></li>
                        <li><a href="/Destination/Destination" target="_blank">South America</a></li>
                        <li><a href="/Destination/Destination" target="_blank">Africa</a></li>
                        <li><a href="/Destination/Destination" target="_blank">Australia / Australasia / Oceania</a></li>
                        <li class="divider"></li>
                        <li><a href="/Destination/Destination" target="_blank">All</a></li>
                    </ul>
                </li>
                <li><a href="/UploadTour/UploadTour">Upload Tour </a></li>
                <li><a href="/Home/Guidelines">Guidelines</a></li>
                <li>
                    <a class="cart-icon" style="color:orange!important;" href="/Tour/ReviewOrder">
                        <span class="glyphicon glyphicon-shopping-cart" style=""></span>
                        <span class="cart-amount" style="color:white!important;" id="numTourInCard"></span>
                    </a>
                </li>
                <li style="margin-left:2%!important;">
                    <a href="/Account/AccountInfo"><img src='http://lorempixel.com/50/50/cats/' class='img-circle' alt='Cinque Terre' width='50' height='50'></a>
                </li>
            </ul>
        </div>
    </nav>

    @Html.Partial("_PartialSearchInHome")

    @*content*@
    <div class="body-content">
        @RenderBody()

    </div>
    @*footer*@
    @Html.Partial("_PartialFooter")
</body>
</html>


